.whatWeDoSection {
  padding: 0px 60px;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 100vw;
  background-color: var(--dark, #363636);
  margin-top: -250px;
  padding-bottom: 130px;
}
.whatWeDoSectionTitle{
    font-size: 64px;
    color: var(--white) ;
    font-weight: 400;
    margin-bottom: 42px;
}
.whatWeDoContainer {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.whatWeDoItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.whatWeDoText {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.whatWeDoTitle {
  font-size: 32px;
  font-weight: 400;
  line-height:auto;
  color: var(--gold);
  margin: 0;
}

.whatWeDoDescription {
  font-size: 24px;
  line-height:auto;
  color: var(--white);
  margin: 0;
}

.whatWeDoImageWrapper {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.whatWeDoImage {
    max-width: 624px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 1/1;
}



@media (max-width: 840px) {
  .whatWeDoSection {
    padding: 0px 92px;
    margin-top: -250px;
    padding-bottom: 60px;

  }
.whatWeDoSectionTitle{
    font-size: 42px;
}
  .whatWeDoContainer {
    gap: 40px;
  }
  

  .whatWeDoTitle {
    font-size: 24px;
  }

  .whatWeDoDescription {
    font-size: 16px;
  }

.whatWeDoText{
    gap: 16px;
}
  .whatWeDoItem {
    gap: 30px;
  }
 
}
@media (max-width: 600px) {
    .whatWeDoImage {
        max-width: 380px;
      width: 100%;
      max-height: 200px;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      aspect-ratio: 1/1;
    }
    
  .whatWeDoItem {
    grid-template-columns: 1fr;
    gap: 16px;
  }
   // On mobile, always show image first, then text
   .itemEven,
   .itemOdd {
     .whatWeDoImageWrapper {
       order: 1;
     }
     .whatWeDoText {
       order: 2;
     }
   }
}
@media (max-width: 480px) {
  .whatWeDoSection {
    padding: 0px 24px;
    margin-top: -160px;
    padding-bottom: 60px;
  }
  .whatWeDoSectionTitle{
    font-size: 20px;
  }
  .whatWeDoTitle {
    font-size: 20px;
  }
  .whatWeDoDescription {
    font-size: 14px;
  }
  .whatWeDoText{
    gap: 10px;
  }
}

