// Only unique styles for stories page
// Common styles are in @/components/admin/admin.module.scss

.storyNames {
  font-size: 1.5rem;
  font-weight: 700;
  color: #363636;
  margin-bottom: 0.5rem;
}

.storyTestimonial {
  color: #666;
  line-height: 1.6;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
