.hostOpinionSectionWrapper {
  margin-top: -200px;
}
@media screen and (max-width: 1024px) {
  .hostOpinionSectionWrapper {
    margin-top: -100px;
  }
}
@media screen and (max-width: 600px) {
  .hostOpinionSectionWrapper {
    margin-top: 0;
  }
}