.eventsSection {
    padding: 80px 0;
    overflow: hidden;

    width: 100%;
    max-width: 100%;
}

.eventsSectionTitle{
    font-size: 100px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    color: transparent;               /* Removes fill */
    -webkit-text-stroke: 1px var(--dark);    /* Stroke width + color */
    text-stroke: 1px var(--dark); 
    margin-bottom: 60px;
}
@media screen and (max-width: 834px) {
    .eventsSectionTitle{
        font-size: 40px;
        line-height: 100%;
    }
}
@media screen and (max-width: 480px) {
    .eventsSectionTitle{
        font-size: 28px;
        line-height: 100%;
    }
}

.eventsSectionContent{
    margin-top: 40px;
    position: relative;
    overflow: visible;
    cursor: pointer;
}

.eventsSwiper {
    width: 100%;
    padding: 20px 0;



    overflow: visible;
    
    :global(.swiper-wrapper) {
        align-items: center;

    }
}

.eventSlide {
    transition: all 0.3s ease;
    transform: scale(0.9);
    
    &.swiper-slide-active {
        opacity: 1;
        transform: scale(1);

    }
}

.eventCard {
    position: relative;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.eventImage {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16/10;
}

.eventInfo {
    padding: 40px 20px 34px;














    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.5;
    transition: opacity 0.3s ease;
   
    @media screen and (max-width: 834px) {
        padding: 30px 20px 20px;











    }
    @media screen and (max-width: 480px) {
        padding: 20px 15px 20px;


    }
}

.eventSlide:global(.swiper-slide-active) .eventInfo {
    opacity: 1;














}

.eventSubtitle {
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 14px;
    letter-spacing: 2px;
    color: var(--dark);
    
    @media screen and (max-width: 834px) {
        font-size: 18px;
    }
    @media screen and (max-width: 480px) {
        font-size: 16px;



    }
}

.eventDescription {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    color: var(--dark);
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
     overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;

    @media screen and (max-width: 834px) {
        font-size: 12px;
        max-width: 348px;
    }
    @media screen and (max-width: 480px) {
        font-size: 10px;
        max-width: 286px;




    }
}

.exploreButton {
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    padding: 18px 55px;
    background: transparent;
    color: var(--dark);
    border: 2px solid var(--dark);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.3s ease;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--dark);
        transition: width 0.3s ease;
        z-index: -1;
    }

    &:hover {
        color: white;
        
        &::before {
            width: 100%;
        }
    }
    @media screen and (max-width: 834px) {
        font-size: 14px;
        padding: 10px 37px;

    }
    @media screen and (max-width: 480px) {

        font-size: 10px;
        padding: 10px 24px;
    }
}

.skeletonImageWrapper {
    width: 100%;
    aspect-ratio: 736 / 490;
    overflow: hidden;
}

.error {
    text-align: center;
    padding: 3rem;
    color: var(--dark);
    font-size: 1.2rem;
}