:root {
  --background: #F0F0F0;
  --foreground: #171717;
  --gold: #AD8842;
  --white: #FFFFFF;
  --dark: #363636;
  --black: #111111;
  --text-light: #FFFFFF;
  
  --hero-title-size: clamp(24px, 5vw, 80px);
  --hero-subtitle-size: clamp(12px, 2vw, 24px);

  --spacing-small: 12px;
  --spacing-medium: 24px;
  --spacing-large: 48px;

}

@media screen and (max-width: 768px) {
  :root {
    --spacing-small: 8px;
    --spacing-medium: 12px;
    --spacing-large: 24px;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --spacing-small: 8px;
    --spacing-medium: 10px;
    --spacing-large: 16px;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-alice), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
