// Only unique styles for events page
// Common styles are in @/components/admin/admin.module.scss

.eventTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #363636;
  margin-bottom: 0.5rem;
}

.eventSubtitle {
  color: #AD8842;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
